@model IEnumerable<SFDashboard.SFModels.VwUserMenu>
@{
    var header = Model.Where(e => e.NodeParent == null).OrderBy(c => c.SortNo).ToList();
    //var subheader = Model.Where(e => e.NodeParent == null).ToList();
}
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"> @*<img src="~/images/img.jpg" alt="~." class="img-circle profile_img">*@ <span><font color="red">Sys</font><font color="white"><b>Magic</b></font></span></a>
            @*  <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"><span style="padding: 15px;"><font color="red">Sys</font><font color="white">Magic</font></span></i></a>
            </div>*@
        </div>

        <div class="clearfix"></div>
        @*    @Context.Session.GetString(SessionVariables.SessionKeyUsername)*@
        <!-- menu profile quick info -->
        @*  <div class="profile clearfix">
        <div class="profile_pic">
        <img src="~/images/img.jpg" alt="~." class="img-circle profile_img">
        </div>
        <div class="profile_info">
        <span>Welcome,</span>
        <h2>John Doe</h2>
        </div>
        </div>*@
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->

        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">

                <ul class="nav side-menu">
                    @foreach (var hd in header)
                    {
                        var icon = string.Empty;
                        if (hd.NodeName == "Air")
                        {
                            icon = "fa fa-plane";

                        }
                        else if (hd.NodeName == "Sea")
                        {
                            icon = "fa fa-ship";
                        }
                        else if (hd.NodeName == "Account")
                        {
                            icon = "fa fa-book";
                        }
                        else if (hd.NodeName == "Other")
                        {
                            icon = "fa fa-question";
                        }
                        else if (hd.NodeName == "Reference")
                        {
                            icon = "fa fa-tasks";
                        }
                        else if (hd.NodeName == "Transport")
                        {
                            icon = "fa fa-truck";
                        }
                        else if (hd.NodeName == "Statistics")
                        {
                            icon = "fa fa-bar-chart-o";
                        }
                        else if (hd.NodeName == "WareHouse")
                        {
                            icon = "fa fa-home";
                        }

                        var subheader = Model.Where(x => x.NodeParent == hd.NodeName).OrderBy(e => e.SortNo).ToList();
                        @if (subheader.Count > 0)
                        {
                            <li>
                                <a><i class="@icon"></i> @hd.NodeName <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    @foreach (var sh in subheader)
                                    {

                                        var subchild = Model.Where(x => x.NodeParent == sh.NodeName).OrderBy(e => e.SortNo).ToList();
                                        if (subchild.Count > 0)
                                        {
                                            <li>
                                                <a>@sh.CommentText <span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    @foreach (var sc in subchild)
                                                    {
                                                        <li>
                                                            <a href="@sc.MenuUrl">@sc.CommentText</a>

                                                        </li>
                                                    }

                                                </ul>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a href="@sh.MenuUrl">@sh.CommentText</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@hd.MenuUrl"><i class="@icon"></i> @hd.NodeName </a>
                            </li>
                        }
                    }

                    @*    <li>
                    <a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                    <li><a href="index.html">Dashboard</a></li>
                    <li><a href="index2.html">Dashboard2</a></li>
                    <li><a href="index3.html">Dashboard3</a></li>
                    </ul>
                    </li>
                    <li>
                    <a><i class="fa fa-edit"></i> Forms <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                    <li><a href="form.html">General Form</a></li>
                    <li><a href="form_advanced.html">Advanced Components</a></li>
                    <li><a href="form_validation.html">Form Validation</a></li>
                    <li><a href="form_wizards.html">Form Wizard</a></li>
                    <li><a href="form_upload.html">Form Upload</a></li>
                    <li><a href="form_buttons.html">Form Buttons</a></li>
                    </ul>
                    </li>
                    <li>
                    <a><i class="fa fa-desktop"></i> UI Elements <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                    <li><a href="general_elements.html">General Elements</a></li>
                    <li><a href="media_gallery.html">Media Gallery</a></li>
                    <li><a href="typography.html">Typography</a></li>
                    <li><a href="icons.html">Icons</a></li>
                    <li><a href="glyphicons.html">Glyphicons</a></li>
                    <li><a href="widgets.html">Widgets</a></li>
                    <li><a href="invoice.html">Invoice</a></li>
                    <li><a href="inbox.html">Inbox</a></li>
                    <li><a href="calendar.html">Calendar</a></li>
                    </ul>
                    </li>
                    <li>
                    <a><i class="fa fa-table"></i> Tables <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                    <li><a href="tables.html">Tables</a></li>
                    <li><a href="tables_dynamic.html">Table Dynamic</a></li>
                    </ul>
                    </li>
                    <li>
                    <a><i class="fa fa-bar-chart-o"></i> Data Presentation <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                    <li><a href="chartjs.html">Chart JS</a></li>
                    <li><a href="chartjs2.html">Chart JS2</a></li>
                    <li><a href="morisjs.html">Moris JS</a></li>
                    <li><a href="echarts.html">ECharts</a></li>
                    <li><a href="other_charts.html">Other Charts</a></li>
                    </ul>
                    </li>
                    <li>
                    <a><i class="fa fa-clone"></i>Layouts <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                    <li><a href="fixed_sidebar.html">Fixed Sidebar</a></li>
                    <li><a href="fixed_footer.html">Fixed Footer</a></li>
                    </ul>
                    </li>*@
                </ul>
            </div>

        </div>
        <!-- /sidebar menu -->
        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>